.device-renderer {
  background: #ccc;
  position: relative;
  padding: 25px;
  box-sizing: border-box;
  display: block;
  &.-Apple {
    background: hsla(190, 65%, 85%, 1);
  }
  &.-Samsung {
    background: hsla(220, 65%, 85%, 1);
  }
  &.-LG {
    background: hsla(340, 65%, 85%, 1);
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, hsla(0, 100%, 80%, .8), hsla(0, 0%, 30%, 1));
    mix-blend-mode: overlay;
  }
  > .body {
    position: relative;
    z-index: 2;
    background-color: $c-device-body;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      box-shadow: 0 2px 25px 0 hsla(0, 0%, 0%, 0.2), 0 1px 0 0 hsla(0, 0, 93%, 1);
      border-radius: 20px;
    }
    > .screen {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      overflow: hidden;
      background-image: linear-gradient(to bottom, hsla(0, 0, 100%, .1), rgba(0, 0, 100%, .05));
      > .notch {
        position: absolute;
        margin: auto;
      }
      > .content {
        position: relative;
        height: 100%;
        overflow: auto;
        > .content-grid {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 0;
          white-space: nowrap;
          overflow: hidden;
          > .grid-item {
            background-image: url('../../assets/img-transparent.svg');
            background-repeat: repeat;
            background-position: left top;
            background-size: 100%;
            height: 100%;
            text-align: right;
            box-sizing: border-box;
            display: inline-block;
            font: 400 9px 'OpenSans';
            border-right: 1px solid rgba(255, 255, 255, .5);
            opacity: .2;
          }
        }
        > .content-main {
          display: block;
          transform-origin: left top;
          padding: 30px;
          box-sizing: border-box;
          > .title {
            display: inline-block;
            font: 700 42px 'Raleway';
            margin: 0;
            padding: 0;
            color: $c-text-invert;
          }
          > .body {
            color: $c-text-invert;
            font: 400 16px 'OpenSans';
            line-height: 26px;
          }
        }
      }
    }
  }
 }