.device-renderer {
  background: transparent;
  position: relative;
  padding: 25px;
  box-sizing: border-box;
  display: block;
  height: 100%;
  transition: $transition;
  &.-manufacturer- {
    &:after { opacity: 0; }
  }
  &.-manufacturer-Apple {
    background: hsla(190, 65%, 85%, 1);
  }
  &.-manufacturer-Samsung {
    background: hsla(220, 65%, 85%, 1);
  }
  &.-manufacturer-LG {
    background: hsla(340, 65%, 85%, 1);
  }
  &.-measure-true > .body { margin-top: 70px; }
  &.-align-center > .body {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &.-align-top > .body {
    position: relative;
  }
  &.-align-bottom > .body {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, hsla(0, 100%, 80%, .8), hsla(0, 0%, 30%, 1));
    mix-blend-mode: overlay;
  }
  > .body {
    position: relative;
    z-index: 2;
    margin: auto;
    &:after {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      background: transparent;
      box-shadow: 0 2px 30px 0 hsla(0, 0, 0, .2), 0 1px 3px 0 hsla(0, 0, 0%, .3);
      border-radius: inherit;
    }
    > .pixel-measure {
      position: absolute;
      height: auto;
      width: auto;
      z-index: 1;
      &.-screen-horizontal {
        top: -70px;
        left: 0;
        right: 0;
        margin: auto;
      }
      &.-screen-vertical {
        left: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
      }
      &.-device-horizontal {
        bottom: -45px;
        left: 0;
        right: 0;
        margin: auto;
      }
      &.-device-vertical {
        left: 50%;
        top: 0;
        bottom: 0;
        margin: auto;
      }
    }
    > .screen {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      overflow: hidden;
      background-image: linear-gradient(to bottom, hsla(0, 0, 98%, .9), hsla(0, 0, 95%, .7));
      box-shadow: 0 0 0 1px rgba(0, 0, 0, .1) inset;
      > .notch {
        position: absolute;
        margin: auto;
        border: 1px solid rgba(0, 0, 0, .1);
      }
      > .content {
        position: relative;
        height: 100%;
        overflow: auto;
        > .content-grid {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 0;
          white-space: nowrap;
          overflow: hidden;
          > .grid-item {
            background-image: url('../../assets/img-transparent.svg');
            background-repeat: repeat;
            background-position: left top;
            background-size: 100%;
            height: 100%;
            text-align: right;
            box-sizing: border-box;
            display: inline-block;
            font: 400 9px 'OpenSans';
            border-right: 1px solid rgba(255, 255, 255, .5);
            opacity: .2;
          }
        }
        > .content-main {
          display: block;
          transform-origin: left top;
          padding: 30px;
          box-sizing: border-box;
          > .title {
            display: inline-block;
            font: 700 42px 'Raleway';
            margin: 0;
            padding: 0;
            color: $c-text;
          }
          > .body {
            color: $c-text;
            font: 400 16px 'OpenSans';
            line-height: 26px;
          }
        }
      }
    }
    .radius-measure {
      border: 1px solid $c-line;
      position: absolute;
      border-radius: 150px;
      opacity: 0;
      transition: $transition;
      transform-origin: center;
      transform: scale(.7);
      z-index: 2;
      &.-screen-top-left,
      &.-device-top-left { top: 0; left: 0; }
      &.-screen-top-right,
      &.-device-top-right { top: 0; right: 0 }
      &.-screen-bottom-left,
      &.-device-bottom-left { bottom: 0; left: 0 }
      &.-screen-bottom-right,
      &.-device-bottom-right { bottom: 0; right: 0 }
      &.-on {
        opacity: 1;
        transform: scale(1);
        border-color: $c-point;
      }
    }
    > .diagonal-length {
      opacity: 0;
      position: absolute;
      top: 0;
      left: 0;
      margin: auto;
      height: 30px;
      transform-origin: left top;
      &.-on { opacity: 1; }
    }
  }
 }