.device-renderer {
  background: #ccc;
  position: relative;
  padding: 25px;
  box-sizing: border-box;
  display: block;
  &.-Apple {
    background: hsla(180, 65%, 85%, 1);
    &:after {
      background: linear-gradient(to bottom, hsla(0, 100%, 100%, .8), #000);
    }
  }
  &.-Samsung {
    background: hsla(220, 65%, 85%, 1);
  }
  &.-LG {
    background: hsla(340, 65%, 85%, 1);
  }
  &:after {
    display: block;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom, #fff, #000);
    mix-blend-mode: overlay;
  }
  > .body {
    position: relative; z-index: 2;
    > .screen {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
      overflow: hidden;
      > .notch {
        position: absolute;
        margin: auto;
      }
      > .content {
        position: relative;
        height: 100%;
        overflow: auto;
        > .content-grid {
          display: block;
          position: absolute;
          width: 100%;
          height: 100%;
          font-size: 0;
          white-space: nowrap;
          overflow: hidden;
          > .grid-item {
            background-image: url('../../assets/img-transparent.svg');
            background-repeat: repeat;
            background-position: left top;
            background-size: 100%;
            height: 100%;
            text-align: right;
            box-sizing: border-box;
            display: inline-block;
            font: 400 9px 'OpenSans';
            border-right: 1px solid rgba(255, 255, 255, .5);
            opacity: .2;
          }
        }
        > .content-main {
          display: block;
          transform-origin: left top;
          padding: 30px;
          box-sizing: border-box;
          > .title {
            display: inline-block;
            font: 900 42px 'Merriweather';
            margin: 0;
            padding: 0;
            color: invert($c-text);
          }
          > .body {
            color: invert($c-text);
            font-size: 16px;
            line-height: 22px;
          }
        }
      }
    }
  }
 }