.header-block {
  $height: 44px;
  height: $height;
  background: $c-bg-sub;
  color: $c-text;
  .block-container {
    width: $width-web;
    margin: auto;
    position: relative;
  }
  .header-logo {
    display: flex;
    height: $height;
    align-items: center;
    > .image {
      width: 16px;
      height: 19px;
      background-image: url(../../assets/logo.svg);
      margin-right: 11px;
      margin-top: -5px;
    }
    > .label {
      font: 900 20px 'Raleway';
      line-height: 24px;
    }
  }
  .header-nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    height: $height;
    > .nav-item {
      height: $height / 2;
      margin-left: 35px;
      font: 900 12px 'Raleway';
      line-height: $height / 2;
      > .router-link {
        text-decoration: none;
        color: $c-text;
        &:hover {
          color: $c-point;
        }
      }
    }
  }
}