.header-block {
  color: $c-text;
  padding: 80px 0;
  .block-container {
    width: $width-web;
    margin: auto;
    position: relative;
  }
  .header-logo {
    align-items: center;
    > .label {
      font: 900 80px 'Raleway';
      color: $c-point;
      line-height: 54px;
    }
  }
  .header-nav {
    display: flex;
    align-items: center;
    position: absolute;
    right: 0;
    top: 0;
    > .nav-item {
      margin-left: 35px;
      font: 900 12px 'Raleway';
      > .router-link {
        text-decoration: none;
        display: inline-block;
        color: $c-text;
        height: 16px;
        &:hover {
          color: $c-point;
        }
        &.router-link-active {
          color: $c-point;
          box-shadow: 0 2px 0 $c-point;
        }
      }
      &.-github a {
        $size: 26px;
        display: block;
        width: $size;
        height: $size;
        background: center / $size $size url('../../assets/icon-github.svg') no-repeat;
      }
    }
  }
}