.section-device-list {
  .device-list {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
    > .list-item {
      flex-grow: 1;
      max-width: 25%;
      padding: 15px;
      box-sizing: border-box;
      height: 392px;
      margin-bottom: 30px;
      > .item-link {
        display: block;
        cursor: pointer;
      }
    }
  }
}