.section-device-list {
  .device-list {
    display: flex;
    flex-wrap: wrap;
    margin: -25px;
    > .list-item {
      flex-grow: 1;
      max-width: 33.333%;
      padding: 0;
      box-sizing: border-box;
    }
  }
}