.section-device-generator {
  display: flex;
  > .device-rendered {
    height: 640px;
    min-width: 600px;
  }
  > .device-editor {
    position: relative;
    > .editor-tab {
      color: lighten($c-text, 20%);
      border-bottom: 2px solid lighten($c-text, 40%);
      > .tab-item {
        font: 700 12px 'OpenSans';
        width: auto;
        padding: 10px;
        display: inline-block;
        margin-right: 30px;
        &.-on {
          box-shadow: 0 2px 0 $c-point;
          color: $c-point;
        }
      }
    }
    .editor-gui {
      padding: $padding 0;
      box-sizing: border-box;
      color: $c-text;
      display: flex;
      flex-flow: row wrap;
      > .break-line {
        width: 100%;
        height: 0;
        margin: 0;
        border: none;
        opacity: 0;
      }
      > .editor-item {
        margin-bottom: $padding;
        &.-name,
        &.-manufacturer,
        &.-device-radius,
        &.-screen-radius,
        &.-diagonal { width: 85%; }
        &.-device,
        &.-viewport,
        &.-rendered-pixels,
        &.-physical-pixels {
          width: 30%;
          margin-right: $padding;
        }
        &.-resampling-scale,
        &.-density {
          width: 25%;
          margin-right: $padding;
        }
      }
    }
  }
}