.section-device-generator {
  display: flex;
  > .device-rendered {
    height: 640px;
    width: 400px;
  }
  > .device-editor {
    flex: 1 1 auto;
    position: relative;
    > .editor-tab {
      color: lighten($c-text, 20%);
      border-bottom: 2px solid lighten($c-text, 40%);
      > .tab-item {
        font: 700 12px 'OpenSans';
        width: auto;
        padding: 10px;
        display: inline-block;
        margin-right: 30px;
        &.-on {
          box-shadow: 0 2px 0 $c-point;
          color: $c-point;
        }
      }
    }
    .editor-gui {
      width: 650px;
      padding: $padding 0;
      box-sizing: border-box;
      color: $c-text;
      display: flex;
      flex-wrap: wrap;
      > .editor-item {
        margin-bottom: $padding;
        width: 100%;
        &.-name { width: 50%; }
        &.-manufacturer,
        &.-device-radius,
        &.-screen-radius,
        &.-diagonal { width: 60%; }
        &.-device,
        &.-rendered-pixels,
        &.-physical-pixels,
        &.-viewport {
          width: 40%;
          margin-right: $padding;
        }
      }
    }
  }
}