// NORMALIZE ////////////
@import '~normalize.css';
ul, ol, dl, li, dt, dd { margin: 0; padding: 0; list-style: none; }

// METRICS //////////////
$width-web: 1190px;

// COLORS ///////////////
$purple-dark: #534C59;
$blue: #0d35ff;
$blue-purple: #4633FF;
$white: #fff;
$manilla: #fff58c;
$mud-brown: #4c3a0f;
$coral: #FA7268;
$matcha: #88B04B;

$gray-lighter: #ddd;
$gray-light: #ccc;
$gray: #999;
$gray-dark: #555;
$gray-darker: #333;

// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700|Oxygen+Mono|Raleway:500,700,900');
// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Oxygen Mono', monospace;

// LOGICAL VALUES /////
$c-point: $blue-purple;
$c-bg-main: $manilla;
$c-bg-sub: $white;
$c-text: $mud-brown;
$c-text-inverted: $white;

$c-line: $gray-light;
$c-line-sub: $gray-dark;

$cg-point: linear-gradient(to bottom, $blue-purple, $purple-dark);

// TRANSITION
$transition: .2s ease-out all;

// BASIC SCALES
$padding: 25px;
$radius: 0;
$shadow: 0 5px 15px hsla(0, 0, 0, .1), 0 2px 5px hsla(0, 0, 0, .1);
$shadow-hover: 0 10px 30px hsla(0, 0, 0, .1), 0 4px 10px hsla(0, 0, 0, .05);

// Z-INDEX
$z-pop-over-dimm: 1000;
$z-pop-over: 1010;
