// NORMALIZE ////////////
@import '~normalize.css';
ul, ol, dl, li, dt, dd { margin: 0; padding: 0; list-style: none; }

// METRICS //////////////
$width-web: 1120px;

// COLORS ///////////////
$purple-dark: #534C59;
$blue: #4633ff;
$white: #fff;

$gray-lighter: #ddd;
$gray-light: #ccc;
$gray: #999;
$gray-dark: #555;
$gray-darker: #333;

// FONTS
@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600|Oxygen+Mono|Raleway:500,700,900|Merriweather:900');
// font-family: 'Raleway', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Merriweather', serif;
// font-family: 'Oxygen Mono', monospace;

// LOGICAL VALUES /////
$c-point: $blue;
$c-bg-main: $purple-dark;
$c-bg-sub: $white;
$c-text: $gray-dark;

$c-line-main: $gray-light;
$c-line-sub: $gray-dark;