.pixel-measure {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  > .measure-result {
    color: $c-text;
    font: 12px 'OxygenMono';
    line-height: 15px;
  }
  > .measure-bar {
    top: 0;
    background: $c-line-sub;
    &:before,
    &:after {
      position: absolute;
      display: block;
      content: '';
      background: $c-line-sub;
    }
  }
  &.-horizontal {
    flex-wrap: wrap;
    > .measure-bar {
      position: relative;
      width: 100%;
      height: 1px;
      &:before,
      &:after {
        width: 1px;
        height: 7px;
        top: -3px;
      }
      &:before {
        left: 0;
      }
      &:after {
        right: 0;
      }
    }
    .measure-result {
      display: block;
      flex: 1 1 auto;
    }
    &.-legend-left {
      .measure-result {
        text-align: left;
      }
    }
    &.-legend-left {
      .measure-result {
        text-align: left;
      }
    }
    &.-legend-right {
      .measure-result {
        text-align: right;
      }
    }
    &.-legend-vertical-top {
      align-content: flex-end;
      .measure-bar { order: 1; }
      .measure-result { order: 0; padding-bottom: 7px; }
    }
    &.-legend-vertical-bottom {
      align-content: flex-start;
      .measure-bar { order: 0; }
      .measure-result { order: 1; padding-top: 7px; }
    }
  }
  &.-vertical {
    align-items: center;
    > .measure-bar {
      position: absolute;
      width: 1px;
      height: 100%;
      &:before,
      &:after {
        width: 7px;
        height: 1px;
        left: -3px;
      }
      &:before {
        top: 0;
      }
      &:after {
        bottom: 0;
      }
    }
    &.-legend-left {
      justify-content: flex-end;
      .measure-bar {
        right: 0;
      }
      .measure-result {
        text-align: right;
        padding-right: 7px;
      }
    }
    &.-legend-right {
      .measure-result {
        text-align: left;
        padding-left: 7px;
      }
    }
    &.-legend-vertical-top {
      align-items: flex-start;
    }
    &.-legend-vertical-bottom {
      align-items: flex-end;
    }
  }
}