.device-card {
  $detail-spec-height: 45px;
  $detail-spec-margin-top: 20px;
  box-shadow: $shadow;
  transition: .5s ease-out all;
  position: relative;
  > .device-rendered {
    height: 275px;
    overflow: hidden;
    .device-renderer {
      height: 275px;
      transition: .8s ease-out all;
      > .body {
        transition: .2s ease-out all;
      }
    }
  }
  > .device-detail {
    box-sizing: border-box;
    position: relative;
    z-index: 3;
    padding: $padding;
    background-color: $c-bg-sub;
    color: $c-text;
    transition: $transition;
    &:before {
      content: '';
      display: block;
      position: absolute;
      background-image: linear-gradient(to top, rgba(0, 0, 0, .05), rgba(0, 0, 0, 0));
      top: -30px;
      left: 0;
      width: 100%;
      height: 30px;
      z-index: 3;
    }
    .detail-base {
      text-align: center;
      > .manufacturer {
        display: block;
        font: 400 12px 'Raleway';
        line-height: 14px;
        margin-bottom: 5px;
      }
      > .name {
        display: block;
        font: 700 18px 'Raleway';
        margin-bottom: 5px;
      }
      > .os {
        display: block;
        .icon {
          display: block;
          width: 22px;
          height: 22px;
          margin: auto;
          background-size: contain;
          &.-iOS { background-image: url('../../assets/icon-apple.svg'); }
          &.-Android { background-image: url('../../assets/icon-android.svg'); }
        }
      }
    }
    .detail-spec {
      transition: $transition;
      height: 0;
      overflow: hidden;
      font: 400 11px 'OpenSans';
      text-align: center;
      line-height: 15px;
      opacity: 0;
      .unit {
        font-size: 9px;
        font-weight: 700;
        margin-left: 2px;
      }
    }
  }
  &:hover {
    box-shadow: $shadow-hover;
    z-index: 3;
    transform: scale(1) translateY(-20px);
    > .device-rendered {
      // transform: translateY(-70px);
      overflow: visible;
      .device-renderer {
        background-color: $c-point;
        > .body {
          transform: translateY(-60px);
        }
      }
    }
    > .device-detail {
      .detail-spec {
        height: $detail-spec-height;
        margin-top: $detail-spec-margin-top;
        opacity: .7;
      }
    }
  }
}