#app {
  font-family: 'Major Mono Display', 'SF Pro Display', 'Open Sans', 'Apple SD Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $c-bg-main;
  min-height: 100vh;
  color: invert($c-text);
  .section-content {
    width: $width-web;
    margin: auto;
    position: relative;
  }
}