#app {
  font-family: 'Major Mono Display', 'SF Pro Display', 'Open Sans', 'Apple SD Gothic', 'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $c-bg-main;
  min-height: 100vh;
  color: invert($c-text);
  .section-content {
    width: $width-web;
    margin: auto;
    position: relative;
  }
}

.icon {
  background-size: cover;
  width: 22px;
  height: 22px;
  &.-iOS {
    background-image: url('./assets/icon-apple.svg');
    &.-inverted { background-image: url('./assets/icon-apple-white.svg'); }
  }
  &.-Android {
    background-image: url('./assets/icon-android.svg');
    &.-inverted { background-image: url('./assets/icon-android-white.svg'); }
  }
  &.-github {
    background-image: url('./assets/icon-github.svg');
    &.-inverted { background-image: url('./assets/icon-github-white.svg'); }
  }
}